<p>
    hallo {{ user }} !
    Please create new password by clicking the following link: <br><br>
    <a href="{{ url|raw }}">Confirm my Email</a>.
    this link expired at {{ expiredAt|date("m/d/Y") }}
    if you doesnt request remind password, please contact with us.
</p>

<p>
    Cheers!
</p>
